
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/*
/dist

package-lock.json
node_modules/.bin/browser-sync
node_modules/.bin/browser-sync.cmd
node_modules/.bin/uglifyjs
node_modules/.bin/uglifyjs.cmd
node_modules/abbrev/package.json
node_modules/accepts/HISTORY.md
node_modules/accepts/package.json
node_modules/after/.travis.yml
node_modules/after/package.json
node_modules/after/README.md
node_modules/ajv/dist/ajv.bundle.js
node_modules/ajv/dist/ajv.min.js
node_modules/ajv/dist/ajv.min.js.map
node_modules/ajv/dist/nodent.min.js
node_modules/ajv/dist/regenerator.min.js
node_modules/ajv/lib/ajv.d.ts
node_modules/ajv/lib/ajv.js
node_modules/ajv/lib/compile/index.js
node_modules/ajv/lib/compile/rules.js
node_modules/ajv/lib/dot/format.jst
node_modules/ajv/lib/dot/ref.jst
node_modules/ajv/lib/dot/validate.jst
node_modules/ajv/lib/dotjs/format.js
node_modules/ajv/lib/dotjs/ref.js
node_modules/ajv/lib/dotjs/validate.js
node_modules/ajv/lib/keyword.js
node_modules/ajv/lib/refs/json-schema-draft-06.json
node_modules/ajv/package.json
node_modules/ajv/README.md
node_modules/amdefine/package.json
node_modules/ansi-regex/package.json
node_modules/ansi-styles/package.json
node_modules/anymatch/package.json
node_modules/aproba/package.json
node_modules/archy/package.json
node_modules/are-we-there-yet/CHANGES.md
node_modules/are-we-there-yet/node_modules/isarray/package.json
node_modules/are-we-there-yet/node_modules/readable-stream/.travis.yml
node_modules/are-we-there-yet/node_modules/readable-stream/lib/_stream_duplex.js
node_modules/are-we-there-yet/node_modules/readable-stream/lib/_stream_readable.js
node_modules/are-we-there-yet/node_modules/readable-stream/lib/_stream_transform.js
node_modules/are-we-there-yet/node_modules/readable-stream/lib/_stream_writable.js
node_modules/are-we-there-yet/node_modules/readable-stream/lib/internal/streams/BufferList.js
node_modules/are-we-there-yet/node_modules/readable-stream/lib/internal/streams/destroy.js
node_modules/are-we-there-yet/node_modules/readable-stream/package.json
node_modules/are-we-there-yet/node_modules/readable-stream/README.md
node_modules/are-we-there-yet/node_modules/string_decoder/lib/string_decoder.js
node_modules/are-we-there-yet/node_modules/string_decoder/package.json
node_modules/are-we-there-yet/node_modules/string_decoder/README.md
node_modules/are-we-there-yet/package.json
node_modules/are-we-there-yet/tracker-stream.js
node_modules/argparse/CHANGELOG.md
node_modules/argparse/lib/action.js
node_modules/argparse/lib/help/formatter.js
node_modules/argparse/package.json
node_modules/argparse/README.md
node_modules/arr-diff/index.js
node_modules/arr-diff/LICENSE
node_modules/arr-diff/package.json
node_modules/arr-diff/README.md
node_modules/arr-flatten/package.json
node_modules/array-differ/package.json
node_modules/array-each/package.json
node_modules/array-find-index/package.json
node_modules/array-slice/index.js
node_modules/array-slice/LICENSE
node_modules/array-slice/package.json
node_modules/array-slice/README.md
node_modules/array-uniq/package.json
node_modules/array-unique/index.js
node_modules/array-unique/LICENSE
node_modules/array-unique/package.json
node_modules/array-unique/README.md
node_modules/arraybuffer.slice/package.json
node_modules/asn1/lib/ber/errors.js
node_modules/gulp-minify/package.json
