.work-wrap
    position: relative
    width: 300px
    height: 400px
    margin: 0 10px
    display: flex
    align-self: flex-end

.seq-canvas
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    list-style: none
    > *
        height: 100%
        width: 100%
        margin: 0
        padding: 0
        list-style: none

.seq
    position: relative
    width: 100%
    height: 380px
    // overflow: hidden

.seq-canvas > *
    position: absolute

.nav-work
    position: absolute
    z-index: 100
    right: -28px
    bottom: 30%
    width: 50px
    border: none
    margin: auto 0
    padding: 0
    background-color: $primary-color
    box-shadow: $shadow

.seq-next, .seq-prev
    background: transparent
    border: none
    padding: 20px
    margin: 0 auto
    cursor: pointer
    color: $accent-color
    font-size: 50px
    line-height: 1
    text-transform: uppercase
    opacity: .8
    transition-duration: .25s
    transition-property: opacity

.seq-next:hover, .seq-prev:hover
    opacity: 1

.slide
    position: absolute
    display: flex
    justify-content: center
    width: 100%
    height: 100%

.desktop, .mobile
    position: absolute
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.6))

.desktop
    max-width: 120%
    top: -140px
    right: -40px
    // padding: 0 35px 0 20px

.mobile
    max-width: 30%
    top: 30px
    left: 10%

.work-text-wrap
    position: absolute
    bottom: 0
    right: 35px
    // border: 1px solid
    width: 300px
    height: 100px
    text-align: right

    b
        font-size: 22px

    p
        font-size: 16px
    

.seq

    .seq-in .desktop
        opacity: 1
        transform: translate3d(0, 0, 0)
        transition: all .7s

    .desktop, .seq-out
        transform: translate3d(0, -100px, 0)
        opacity: 0
        transition: all .7s

.seq

    .seq-in .mobile
        opacity: 1
        transform: translate3d(0, 0, 0)
        transition: all .7s

    .mobile, .seq-out
        transform: translate3d(0, 100px, 0)
        opacity: 0
        transition: all .7s


.seq

    .seq-in .work-text-wrap
        opacity: 1
        transform: translate3d(0, 0, 0)
        transition: all .7s

    .work-text-wrap, .seq-out
        transform: translate3d(0, 0, 0)
        opacity: 0
        transition: all .7s


.slide__title
    float: right
    color: #FFF
    font-size: 200px
    line-height: 0.8
    text-transform: uppercase
    transform: translate3d(0, -60px, 0)
    opacity: 0
    text-align: right
    margin-right: 60px
    margin-top: 60px
    font-weight: 900
    transition: all .4s

.seq .seq-in .slide__title
    transform: translate3d(0, 0, 0)
    opacity: 0.3
    transition: all .4s
    transition-delay: .2s

@media (max-width: 1025px)

    .panel-content
        min-width: 100% !important

    .work-wrap
        position: relative
        width: 500px
        height: 400px
        width: 780px
        margin: 0 10px
        display: flex
    
    .desktop
        max-width: 120%
        top: -40px

    .mobile
        max-width: 120px
        top: 60px
        left: 20px
    
    .work-text-wrap
        top: 340px
        right: 20px
        width: 260px
        height: 100px
        text-align: right


    


